<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<style>
    .body {
        align: center;
        background-color: #bfbfdf;
        width: 100%;
        margin: 0px;
        font-family: 'Open Sans', sans-serif;
    }

    .link {
       color: black;
       text-decoration: none;
       word-wrap: break-word;
    }

    .link:visited {
       color: black;
       text-decoration: none;
       cursor: auto;
    }

    .link:hover {
       color: #0000EE;
       text-decoration: underline;
       cursor: pointer;
    }

    .commit {
        background-color: #efefef;
        width: 50%;
        align: center;
        align-self: center;
        align-content: center;
        align-items: center;
        border-color: #454585;
        border-style: groove inset;
        border-radius: 25px;
        padding: 20px;
        margin-left: 25%;
        margin-right: 25%;
        box-shadow: 10px 10px 5px #777777;
    }

    .em {
        cursor: pointer;
    }

    .spacer {
        height: 5%;
    }

    .bcon {
       width: 8%;
    }

    .browse {
       background-color: #454585;
       color: white;
       border: 2px solid #454585;
       border-radius: 4px;
       position: absolute;
       right: 25%;
       display: none;
    }

    .browse:hover {
       background-color: #bfbfdf;
       border-color: #9d9dbf;
       color: black;
    }

    h1 {
       font-size: 275%;
    }

    h2 {
       font-size: 170%;
    }

    .centered {
       text-align: center;
    }

</style>
"""
